<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">

<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container mt-4">
    <div class="p-4 rounded-3 shadow"
         style="background: linear-gradient(90deg, #212529, #343a40);">
        <h1 class="text-white mb-4">Mi perfil</h1>
        <div class="card bg-dark text-white border-secondary shadow-sm">
            <div class="card-body">
                <p>
                    <strong>Usuario:</strong>
                    <span th:text="${perfil.usuario.nombreCompleto}"></span>
                </p>
                <p>
                    <strong>Número de empleado:</strong>
                    <span th:text="${perfil.usuario.numeroEmpleado}"></span>
                </p>
                <p>
                    <strong>Correo:</strong>
                    <span th:text="${perfil.correo}"></span>
                </p>
                <p>
                    <strong>Dependencia:</strong>
                    <span th:text="${perfil.usuario.dependencia.nombre}"></span>
                </p>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{plantillas/plantilla::footer}"></footer>

</body>
</html>